@model Exchenger.Models.Currency

<!DOCTYPE html>
<html>
	<head>
		<title>Создание валюты</title>
		<meta charset="utf-8" />
	</head>

	<body>
		<h1>Добавление новой валюты</h1>
		<div>
			<form asp-action="Create">
				<label>Уникальный айди</label>
				<input asp-for="CurId" />

				<label>Название</label>
				<input asp-for="CurName" />

				<label>Аббвериатура</label>
				<input asp-for="CurAbbreviation" />

				<label>Скейл</label>
				<input asp-for="CurScale" />

				<label>Переодичность</label>
				<input asp-for="CurPeriodicity" />

				<label>Курс</label>
				<input asp-for="CurOfficialRate" />

				<input type="submit" value="Сохранить" />
			</form>
		</div>

		<div>
			@if (ViewBag.Resalt == 1)
			{
				<p>Данные успешно добавлены!</p>
			}
			else if (ViewBag.Resalt == 0)
			{
				<p>Данные введены неверно!</p>
			}
		</div>
		<div>
			<a asp-action="ShowTable">Назад к списку</a>
		</div>
	</body>

</html>
